# global gdb configurations
set disassembly-flavor intel
set print pretty on
set logging on
set print array on
set confirm off
shell clear

# executable
file push_swap
set args 3 5 77 6 1 2 9 8 44 11 66 -9 222 111 -43 33

# defined commands
define valg
  shell valgrind --log-file="log-$(date +'%T').txt" --leak-check=full --show-reachable=yes --show-leak-kinds=all ./foo
  shell less $(ls log-* | sort -r | head -1)
end

define ls
  shell ls --color=auto --classify ; echo ""
end

define reload
  shell make
  file push_swap
  shell echo "executable is loaded."
  run
end

# b buffer.c:81
# b buffer.c:89
# b ps_push
#b read_input
#b op_apply
#b ps_alloc
#b reader.c:39
